<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @microcontrolador.nombre %>
</p>

<%= link_to 'Edit', edit_microcontrolador_path(@microcontrolador) %> |
<%= link_to 'Back', microcontroladors_path %>
